*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-areas:
      "header header"
      "menu content"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    background-color: #f700ca;
    padding: 5px;
    border-radius: 20px;
}
.container > div {
    background-color: rgb(250, 194, 233);
    padding: 10px;
    border-radius: 20px;
}
.container > div.header {
    grid-area: header;
}
.container > div.sidebar {
    grid-area: menu;
    height: 150px;
}
.container > div.content {
    grid-area: content;
    height: 150px;
}
.container > div.footer {
    grid-area: footer;
}